body {margin: 0;}
h1 {
margin: 0;
padding: 0;
}
canvas#game {float:left;}
section#moves {
	float:left; overflow: hidden; width:100px; display: block !important;
}
section#moves p#turns>span {

}
section#moves p#pushes>span {

}